@import "tailwindcss";

@theme {
  --color-brand-navy: #001F3F;
  --color-brand-blue: #007BFF;
  --color-brand-slate: #475569;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000c19; /* A darker version of deep navy for true dark mode */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  scroll-behavior: smooth;
}

/* Custom Scrollbar for specific sections */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-brand-blue);
  border-radius: 20px;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-brand-blue) transparent;
}
